@charset "utf-8";
article {
  width: 100%;
  height: 100%;
  background: url('../images/complete3.png') no-repeat;
  background-size: cover;
}
header {
  width: 100%;
  height: 3.5rem;
  background-color: #373638;
  color: #fff;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
}
section {
  padding-top: 6rem;
  text-align: center;
}
#upHead {
  position: relative;
  width: 8rem;
  height: 8rem;
  border: 4px solid rgba(255, 99, 78, 0.6);
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 0 2rem #ccc;
  background-size: cover;
}
#upHead img {
  width: 100%;
}
#upHead input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#clickToUp {
  position: absolute;
  top: -2.8rem;
  left: 0;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #373638;
  color: #fff;
  font-size: .8rem;
  line-height: 2rem;
}
#clickToUp:after {
  content: '';
  position: absolute;
  top: 1.8rem;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border: 0.6rem solid #373638;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#full-name {
  width: 20rem;
  height: 6rem;
  margin: 2rem auto;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: #c8c3c2;
}
#full-name input {
  width: 14rem;
  height: 3rem;
  border: none;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: transparent;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .1rem;
  color: #666;
  box-shadow: 0 0 2rem #ccc;
  transition-duration: .3s;
}
#full-name input:focus {
  border-color: rgba(255, 99, 78, 0.6);
}
button#submit {
  width: 8rem;
  height: 4rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #ff634e;
  border-radius: 2rem;
  color: #ff634e;
  font-size: 1.2rem;
  text-align: center;
  transition-duration: .2s;
}
button#submit:focus {
  background-color: #ff634e;
  color: #fff;
}
#info {
  width: 100%;
  height: 0;
  background-color: #333;
  margin: 2rem auto;
  background: url('../images/ok.png') no-repeat center;
  background-size: contain;
  transition-duration: .3s;
  color: #f00;
}
