@charset "utf-8";
article {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../images/home2.png') no-repeat fixed;
  background-size: cover;
}
#stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/stage.png') no-repeat;
  background-size: cover;
  z-index: 101;
}
#loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  width: 2rem;
  height: 2rem;
  margin: auto;
  z-index: 1;
}
#loading img {
  width: 100%;
  height: 100%;
  animation: loading 2s ease-in-out infinite both;
}
@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #373638;
  color: #fff;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  z-index: 100;
}
header #user,
header #add {
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 100%;
}
header #user {
  left: 0;
}
header #search {
  width: 14rem;
  height: 2.5rem;
  margin: auto;
}
header #search input,
header #search i {
  vertical-align: middle;
}
header #search input {
  box-sizing: border-box;
  width: 12rem;
  height: 1.4rem;
  outline: none;
  border: none;
  border-radius: .2rem;
  background-color: #f6f7f7;
  color: #666;
  font-size: .8rem;
  letter-spacing: .05rem;
}
header #search input:focus {
  box-shadow: 0 0 0.4rem #f87a58;
}
header #search i {
  font-size: 1.4rem;
}
#head-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #e5b7b7;
  background-color: #fff;
  background-size: cover;
  margin: .25rem auto;
}
#head-img img {
  width: 100%;
  height: 100%;
}
header #add {
  right: 0;
  font-size: 1.4rem;
  color: #f87a58;
}
#menu {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  box-shadow: 0 1rem 10rem #ccc;
  background-color: #f3f3f5;
  text-align: center;
  z-index: 10;
  transform: scale(0);
  transition-duration: .3s;
}
#menu li {
  display: inline-block;
  width: 5rem;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-right: .4rem;
}
#menu li i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fafafc;
  color: #f87a58;
  line-height: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
#menu li p {
  font-size: .8rem;
}
#circle-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 11rem;
  height: 11rem;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 8rem #ccc;
  background-color: #f3f3f5;
  z-index: 10;
  transform: scale(0);
  transition-duration: .3s;
}
#circle-menu li {
  position: absolute;
  width: 2rem;
  height: 3rem;
  text-align: center;
  margin: auto;
}
#circle-menu li.close {
  left: 0;
  right: 0;
  top: .5rem;
}
#circle-menu li.signIn {
  top: 0;
  bottom: 0;
  right: .5rem;
  color: #f87a58;
}
#circle-menu li.into {
  left: 0;
  right: 0;
  bottom: .5rem;
  width: 4rem;
}
#circle-menu li.delete {
  top: 0;
  bottom: 0;
  left: .5rem;
}
#circle-menu i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fafafc;
  line-height: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
#circle-menu {
  font-size: .8rem;
}
section {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}
#ckeck-info,
#ckeck-info li:not(:nth-child(1)),
#sign-in-history,
#sign-in-history li:not(:nth-child(1)),
#publish-history,
#publish-history li:not(:nth-child(1)),
#search-com,
#search-com li:not(:nth-child(1)) {
  width: 100%;
  margin-top: 1rem;
}
#ckeck-info li,
#sign-in-history li,
#publish-history li,
#search-com li {
  position: relative;
}
#ckeck-info ul,
#sign-in-history ul,
#publish-history ul,
#search-com ul {
  font-size: 0;
}
#ckeck-info li div,
#sign-in-history li div,
#publish-history li div,
#search-com li div {
  display: inline-block;
  vertical-align: middle;
  font-size: .8rem;
}
#ckeck-info li .img,
#sign-in-history li .img,
#publish-history li .img,
#search-com li .img {
  width: 5rem;
  height: 5rem;
}
#ckeck-info li .info,
#sign-in-history li .info,
#publish-history li .info,
#search-com li .info {
  width: calc(95%) rem;
  height: 100%;
  border-bottom: 1px solid #ccc;
}
#ckeck-info li .signIn,
#sign-in-history li .signIn,
#publish-history li .signInfo,
#search-com li .signInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: .2rem;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  outline: none;
  margin: auto;
  background-color: rgba(248, 122, 88, 0.5);
}
#ckeck-info li .signIn:focus,
#sign-in-history li .signIn:focus,
#publish-history li .signInfo:focus,
#search-com li .signInfo:focus {
  border-width: .5rem;
  transition-duration: .3s;
}
@keyframes clickToSignIn {
  from {
    border-width: .2rem;
  }
  to {
    border-width: .4rem;
  }
}
#ckeck-info li .info p,
#sign-in-history li .info p,
#publish-history li .info p,
#search-com li .info p {
  line-height: 1.6rem;
}
#ckeck-info li .info i,
#sign-in-history li .info i,
#publish-history li .info i,
#search-com li .info i {
  margin-right: .4rem;
}
#ckeck-info li .info p:not(:nth-child(1)),
#sign-in-history li .info p:not(:nth-child(1)),
#publish-history li .info p:not(:nth-child(1)),
#search-com li .info p:not(:nth-child(1)) {
  color: #666;
}
#ckeck-info li .img img,
#sign-in-history li .img img,
#publish-history li .img img,
#search-com li .img img {
  width: 100%;
  height: 100%;
}
#map {
  display: none;
  width: 100%;
  height: 20rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #f87a58;
  z-index: 100;
}
footer ul {
  font-size: 0;
}
footer ul li {
  box-sizing: border-box;
  display: inline-block;
  width: calc(25%);
  height: 100%;
  color: #f6f7f7;
  font-size: .5rem;
  text-align: center;
}
footer ul li:first-child {
  color: #373638;
}
footer li i {
  display: inline-block;
  box-sizing: border-box;
  height: 1.5rem;
  padding-top: .4rem;
}
footer li p {
  letter-spacing: 2px;
  font-size: .7rem;
  line-height: 1.5rem;
}
footer ul li i.iconfont {
  font-size: 1.2rem;
}
#admin-com {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  background-color: #f6f7f7;
  transform: scale(0);
  transition-duration: .3s;
}
#admin-com li {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}
#admin-com li > div {
  display: inline-block;
  vertical-align: middle;
}
#admin-com li > .img {
  overflow: hidden;
  width: 6rem;
  height: 6rem;
  margin: auto;
}
#admin-com li > .img img {
  width: 90%;
}
#admin-com li .info p {
  font-size: .8rem;
  line-height: 1.4rem;
  color: #666;
}
#admin-com li .info i {
  margin-right: .4rem;
}
#admin-com li .info p:first-child {
  color: #373638;
}
#admin-com li .info a:active {
  color: #f87a58;
}
#admin-com li button {
  position: absolute;
  bottom: 1rem;
  right: .4rem;
  margin: auto;
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  background-color: #f6f7f7;
  color: #aaa;
  transition-duration: .3s;
}
#admin-com .icon-shanchutianchong {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #ccc;
  font-size: 1rem;
}
#admin-com li button:focus {
  background-color: #f87a58;
  color: #f6f7f7;
}
#admin-com #add-com-btn {
  width: 100%;
  height: 4rem;
  background-color: #f6c4b7;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}
#publish-sign-quick,
#pushlish-sign,
#answer-question {
  box-sizing: border-box;
  position: absolute;
  top: 2.4rem;
  left: 0;
  right: 0;
  width: 90%;
  padding: .4rem 1rem;
  margin: auto;
  border-radius: .6rem;
  box-shadow: 0 0 2rem #ccc;
  background-color: #ebebeb;
  transform: scale(0);
  transition-duration: .3s;
}
#publish-sign-quick p,
#pushlish-sign p,
#answer-question p {
  color: #999999;
  margin: .6rem auto;
}
#publish-sign-quick p:last-child,
#pushlish-sign p:last-child,
#answer-question p:last-child {
  text-align: center;
}
#publish-sign-quick input,
#publish-sign-quick select,
#pushlish-sign input,
#answer-question input {
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  box-shadow: 0 0 .3rem #ccc inset;
  color: #999999;
  font-size: .8rem;
}
#pushlish-sign input[name="latitude"],
#pushlish-sign input[name="longitude"],
#publish-sign-quick input[name="latitude"],
#publish-sign-quick input[name="longitude"] {
  width: 45%;
  text-align: center;
  color: #999999;
}
#pushlish-sign .click-to-location,
#publish-sign-quick .click-to-location {
  box-sizing: border-box;
  width: 5rem;
  height: 1.5rem;
  outline: none;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  background-color: #9bca3e;
  color: #fff;
  transition-duration: .3s;
}
#pushlish-sign .click-to-location:focus,
#publish-sign-quick .click-to-location:focus {
  background-color: #f87a58;
}
#publish-sign-quick input:focus,
#pushlish-sign input:focus,
#answer-question input:focus {
  box-shadow: 0 0 0.3rem #9bca3e inset;
}
#publish-sign-quick button,
#pushlish-sign button,
#answer-question button {
  position: static;
}
#publish-sign-quick i,
#pushlish-sign i,
#answer-question i {
  margin-right: .4rem;
  color: #9bca3e;
  font-size: 1rem;
}
#publish-sign-quick .close,
#pushlish-sign .close,
#answer-question .close {
  position: absolute;
  top: .1rem;
  right: .1rem;
  font-size: 1.8rem;
}
#publish-sign-quick select {
  margin-top: 2rem;
}
#create-com {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  box-shadow: 0 2rem 4rem #aaa;
  background-color: #f6f7f7;
  transform: scale(0);
  transition-duration: .3s;
}
#create-com .headPhoto {
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  margin: 1rem auto;
  border-radius: 50%;
  background-color: #fff;
}
#create-com .headPhoto img {
  width: 100%;
}
#create-com p {
  overflow: hidden;
  font-size: .9rem;
  width: 18rem;
  height: 2rem;
  margin: 1.5rem auto;
  border-radius: .4rem;
}
#create-com p i,
#create-com p input,
#create-com p em {
  vertical-align: middle;
}
#create-com i {
  display: inline-block;
  width: 5.5rem;
  height: 2rem;
  padding: 0 .3rem;
  background-color: #9bca3e;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  vertical-align: middle;
}
#create-com .icon-guanbi1 {
  text-align: center;
}
#create-com input {
  width: 11.9rem;
  height: 2rem;
  outline: none;
  border: none;
  box-shadow: 0 0 .3rem #ccc inset;
  background-color: #fff;
  color: #666;
  font-size: .8rem;
}
#create-com input[type="text"]:focus {
  box-shadow: 0 0 0.3rem #9bca3e inset;
}
#create-com input[type="file"] {
  height: 2rem;
  line-height: 2rem;
  box-shadow: none;
  background-color: transparent;
}
#create-com p em {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-left: 1rem;
  background-color: #666;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6rem;
  vertical-align: middle;
}
#create-com p:last-child {
  text-align: center;
}
#create-com button {
  width: 4rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  background-color: #fff;
  transition-duration: .3s;
}
#create-com button.reset {
  margin-right: 1rem;
  border: 1px solid #ccc;
  color: #ccc;
}
#create-com button.reset:focus {
  background-color: #ccc;
  color: #fff;
}
#create-com button.submit {
  border: 1px solid #9bca3e;
  color: #9bca3e;
}
#create-com button.submit:focus {
  background-color: #9bca3e;
  color: #fff;
}
#sign-in-history,
#publish-history {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition-duration: .3s;
  background-color: #f6f7f7;
}
#sign-in-history > ul,
#publish-history > ul {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  background-color: #f6f7f7;
}
#sign-in-history .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: .5rem;
  height: 2rem;
  margin: auto;
}
#sign-in-history .handle i {
  font-size: 1.5rem;
}
#sign-in-history .handle i.icon-shanchutianchong {
  color: #aaa;
}
#sign-in-history .handle i.icon-ditu-huan {
  font-size: 1rem;
  margin-right: 1rem;
}
.sign-yes {
  color: #ccc;
}
.sign-not {
  color: #9bca3e;
}
.sign-now {
  color: #f00;
}
#promp-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 10rem;
  margin: auto;
  box-shadow: 0 0 6rem #ccc;
  border-radius: 1rem;
  background-color: #f3f3f5;
  line-height: 10rem;
  text-align: center;
  transform: scale(0);
}
#publish-history .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
}
#publish-history .handle i {
  font-size: 1.5rem;
  color: #aaa ;
}
#publish-history li em {
  margin-left: 1rem;
  text-decoration: underline;
  color: #aaa;
}
#ckeck-sign-status {
  box-sizing: border-box;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 28rem;
  padding-top: 2.5rem;
  margin: auto;
  background-color: #fff;
  transform: scale(1);
  font-size: 0;
  transform: scale(0);
  transition-duration: .3s;
}
#ckeck-sign-status > div {
  overflow: auto;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 5rem #ccc;
  background-color: #fff;
  font-size: .8rem;
  color: #666;
  vertical-align: top;
}
#ckeck-sign-status > div h3 {
  padding: .5rem 0;
  text-align: center;
  color: #fff;
}
#ckeck-sign-status .yes h3 {
  background-color: #9bca3e;
}
#ckeck-sign-status .no h3 {
  background-color: #f87a58;
}
#ckeck-sign-status > div p {
  overflow: hidden;
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid #ccc;
  line-height: 2rem;
}
#ckeck-sign-status > div p img {
  width: 2rem;
}
#ckeck-sign-status > div p img,
#ckeck-sign-status > div p span {
  vertical-align: middle;
}
#ckeck-sign-status i.close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  border: 5px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: auto;
  background-color: rgba(248, 122, 88, 0.6);
  color: #fff;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
}
#com-detail,
#search-com {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  background-color: #f6f7f7;
  transform: scale(0);
  transition-duration: .3s;
}
#com-detail .header {
  position: relative;
  width: 100%;
  height: 5rem;
  background: #fff url('../images/comBg3.png') no-repeat;
  background-size: cover;
  color: #373638;
}
#com-detail .header > div {
  display: inline-block;
  vertical-align: middle;
}
#com-detail .header .img {
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  margin: .5rem;
  border-radius: 50%;
  background-color: #f6f7f7;
}
#com-detail .header .img img {
  width: 100%;
  height: 100%;
}
#com-detail .header .info h3 {
  font-size: 1rem;
}
#com-detail .header .info p {
  font-size: .8rem;
  line-height: 1.6rem;
  color: #999;
}
#com-detail .header i#look {
  position: absolute;
  top: 0;
  bottom: 0;
  right: .5rem;
  width: 2rem;
  height: 2rem;
  margin: auto;
  font-size: 1.8rem;
  color: #aaa;
}
#com-detail .bottom {
  position: relative;
  width: 100%;
}
#com-detail .bottom > div {
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 28rem;
  padding-bottom: 2rem;
  background-color: #f6f7f7;
  color: #888;
  font-size: .8rem;
}
#com-detail h3 {
  height: 1.2rem;
  padding: .5rem 0;
  text-align: center;
  border-bottom: 1px dashed #ccc;
  color: #666;
}
#com-detail .bottom .members {
  overflow: auto;
  right: 0;
  top: 2.2rem;
  width: 6rem;
  height: 22.5rem;
  background-color: #fff;
  transition-duration: .3s;
  opacity: 0;
}
#com-detail .posting {
  position: relative;
}
#com-detail .posting h3 span {
  width: 5rem;
  height: .8rem;
  display: inline-block;
  line-height: .8rem;
}
#com-detail .posting h3 span:first-child {
  border-right: 3px solid #ccc;
}
#com-detail .content li {
  width: 100%;
  margin-top: 1rem;
}
#com-detail .content li > div {
  display: inline-block;
  vertical-align: middle;
}
#com-detail .content li .img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
}
#com-detail .content li .img img {
  width: 100%;
}
#com-detail .content li .word {
  position: relative;
  max-width: 15rem;
  margin-left: 1rem;
  padding: .4rem;
  border-radius: .4rem;
  background-color: #fff;
  color: #888;
  line-height: 1.4rem;
}
#com-detail .content li .word:before {
  position: absolute;
  top: .6rem;
  left: -1rem;
  content: '';
  border: .5rem solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
#com-detail .content .edit {
  width: 100%;
  padding-left: 3rem;
  margin: .5rem 0;
}
#com-detail .content .edit span {
  margin-right: 4rem;
  text-decoration: underline;
  color: #aaa;
  font-size: .6rem;
}
#post-word {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  width: 16rem;
  height: 10rem;
  margin: auto;
  box-shadow: 0 0 10rem #ccc;
  background-color: #fbfbfb;
  transform: scale(0);
  transition-duration: .3s;
}
#post-word textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 6rem;
  padding: .4rem;
  margin: auto;
  border: none;
  resize: none;
  color: #666;
}
#post-word p {
  text-align: center;
  margin: 1rem;
}
#post-word p button {
  vertical-align: middle;
}
#post-word .members h3 {
  background-color: #ccc;
  text-align: center;
}
#search-com {
  transform: scale(0);
}
#search-com .join {
  position: absolute;
  top: 0;
  bottom: 0;
  right: .5rem;
  width: 2rem;
  height: 2rem;
  margin: auto;
  border-radius: 50%;
  background-color: #9bca3e;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2rem;
}
#answer-question {
  transform: scale(0);
  font-size: .8rem;
}
#answer-question li {
  font-size: .8rem;
}
#stipInfoBox {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  margin: auto;
  background-color: #373638;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  line-height: 2rem;
  transition-duration: .3s;
  transform: scale(0);
}
.handleStipInfo-show {
  transform: scale(1);
}
