@charset "utf-8";
@headerHeight: 2.5rem;
@headerColor: rgb(55,54,56);
@munuBgColor: rgb(243,243,245);
@footerHeight: 3rem;
@footerBgColor: rgb(248,122,88);
@footerColor: rgb(246,247,247);
@commonBg: rgb(246,247,247);

article {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/home2.png') no-repeat fixed;
    background-size: cover;
}
// 开场动画
#stage {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/stage.png') no-repeat;
    background-size: cover;
    z-index: 1;
}
#loading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    width: 2rem;
    height: 2rem;
    margin: auto;
    z-index: 1;
}
#loading img {
    width: 100%;
    height: 100%;   
    animation: loading 2s ease-in-out infinite both;
}
@keyframes loading {
    from {
        transform: rotate(0);
    }to{
        transform: rotate(360deg);
    }
}
// 首页信息
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: @headerHeight;
    background-color: @headerColor;
    color: #fff;
    line-height: @headerHeight;
    text-align: center;
    font-size: 1.2rem;
    z-index: 10;
}
header #user,
header #add {
    position: absolute;
    top: 0;
    width: @headerHeight;
    height: 100%;
}
header #user {
    left: 0;
}
header #search {
    width: 14rem;
    height: @headerHeight;
    margin: auto;
    // background-color: #ccc;
}
header #search input,
header #search i {
    vertical-align: middle; 
}
header #search input {
    box-sizing: border-box;
    width: 12rem;
    height: 1.4rem;
    outline: none;
    border: none;
    border-radius: .2rem;
    background-color: rgb(246,247,247);
    color: @headerColor;
    font-size: .6rem;
    letter-spacing: .05rem;
}
header #search i {
    font-size: 1.4rem;
}
#head-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid rgb(229,183,183);
    background-color: #fff;
    background-size: cover;
    margin: .25rem auto;
}
#head-img img {
    width: 100%;
    height: 100%;
}
header #add {
    right: 0;
    font-size: 1.4rem;
    color: @footerBgColor;
}
// menu
#menu {
    position: absolute;
    top: @headerHeight;
    left: 0;
    width: 100%;
    padding-bottom: 1rem;
    box-shadow: 0 1rem 10rem #ccc;
    background-color: @munuBgColor;
    text-align: center;
    z-index: 10;
    transform: scale(0);
    transition-duration: .3s;
}
#menu li {
    display: inline-block;
    width: 5rem;
    height: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-right: .4rem;
}
#menu li:first-child i {
    // color: @footerBgColor;
    color: #fff;
    background-color: @footerBgColor;
}
#menu li i {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(250,250,252);
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
}
#menu li p {
    font-size: .8rem;
}
// circle-menu
#circle-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 11rem;
    height: 11rem;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 8rem #ccc;
    background-color: @munuBgColor;
    z-index: 10;
    transform: scale(0);
    transition-duration: .3s;
}
#circle-menu li {
    position: absolute;
    width: 2rem;
    height: 3rem;
    text-align: center;
    margin: auto;
}
#circle-menu li.close {
    left: 0;
    right: 0;
    top: .5rem;
}
#circle-menu li.signIn {
    top: 0;
    bottom: 0;
    right: .5rem;
    color: @footerBgColor;
}
#circle-menu li.into {
    left: 0;
    right: 0;
    bottom: .5rem;
    width: 4rem;
}
#circle-menu li.delete {
    top: 0;
    bottom: 0;
    left: .5rem;
}
#circle-menu i {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    // border: 1px solid #ccc;
    border-radius: 50%;
    background-color: rgb(250,250,252);
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
}
#circle-menu {
    font-size: .8rem;
}
// section
section {
    width: 100%;
    padding-top: @headerHeight;
    padding-bottom: @footerHeight;
}
#ckeck-info,
#ckeck-info li {
    width: 100%;
    margin-top: 1rem;
}
#ckeck-info li {
    position: relative;
}
#ckeck-info ul {
    font-size: 0;
}
#ckeck-info li div {
    display: inline-block;
    vertical-align: middle;
    font-size: .8rem;
}
#ckeck-info li .img {
    width: 5rem;
    height: 5rem;
}
#ckeck-info li .info{
    width: calc(100% - 5)rem;
    height: 100%;
    border-bottom: 1px solid #ccc;
}
#ckeck-info li .signIn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: .2rem;
    width: 2rem;
    height: 2rem;
    border: .2rem solid rgba(255,255,255,.5);
    border-radius: 50%;
    outline: none;
    margin: auto;
    background-color: rgba(248,122,88,.5);
}
#ckeck-info li .signIn:focus {
    border-width: .5rem;
    transition-duration: .3s;
}
@keyframes clickToSignIn {
    from {
        border-width: .2rem;
    }to {
        border-width: .4rem;
    }
}
#ckeck-info li .info p {
    line-height: 1.6rem;
}
#ckeck-info li .info i {
    margin-right: .4rem;
}
#ckeck-info li .info p:not(:nth-child(1)){
    color: #666;
}
#ckeck-info li .img img {
    width: 100%;
    height: 100%;
}
#map {
    display: none;
    width: 100%;
    height: 20rem;
}
// 管理社群、发布签到界面
#admin-com {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: @headerHeight;
    padding-bottom: @footerHeight;
    background-color: @commonBg;
    transform: scale(0);
    transition-duration: .3s;
}
#admin-com li {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
}
#admin-com li>div {
    display: inline-block;
    vertical-align: middle;
}
#admin-com li .img {
    width: 6rem;
    height: 6rem;
    margin: auto;
}
#admin-com li .img img {
    width: 100%;
    height: 100%;
}
#admin-com li .info p {
    font-size: .8rem;
    line-height: 1.4rem;
    color: #666;
}
#admin-com li .info i {
    margin-right: .4rem;
}
#admin-com li .info p:first-child {
    color: @headerColor;
}
#admin-com li .info a:active {
    color: @footerBgColor;  
}
#admin-com button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: .4rem;
    margin: auto;
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: @footerColor;
    color: #aaa;
    transition-duration: .3s;
}
#admin-com button:focus {
    background-color: @footerBgColor;
    color: @footerColor;
}
#admin-com #add-com-btn {
    width: 100%;
    height: 4rem;
    background-color: rgb(246,196,183);
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
#pushlish-sign {
    box-sizing: border-box;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    width: 90%;
    height: 19rem;
    padding: .4rem 1rem;
    margin: auto;
    border-radius: .6rem;
    box-shadow: 0 0 2rem #ccc;
    background-color: rgb(235,235,235);
    transform: scale(0);
    transition-duration: .3s;
}
#pushlish-sign p {
    color: rgb(153,153,153);
    margin: .6rem auto;
}
#pushlish-sign p:last-child{
    text-align: center;
}
#pushlish-sign input {
    width: 100%;
    height: 2rem;
    outline: none;
    border: none;
    box-shadow: 0 0 .3rem #ccc inset;
    color: rgb(153,153,153);
    font-size: .8rem;
}
#pushlish-sign input:focus {
    box-shadow: 0 0 .3rem rgb(155,202,62) inset;
}
#pushlish-sign button {
    position: static;
    // background-color: #fff;
    // border: 1px solid #888;
}
#pushlish-sign button.submit {
    margin-right: 1rem;
    border: 1px solid rgb(155,202,62);
    color: rgb(155,202,62);
}
#pushlish-sign button.submit:focus {
    background-color: rgb(155,202,62);
    color: #fff;
}
#pushlish-sign button.reset {
    border: 1px solid #ccc;
    margin-right: 1rem;
}
#pushlish-sign button.reset:focus {
    background-color: #ccc;
    color: #fff;
}
#pushlish-sign i {
    margin-right: .4rem;
    color: rgb(155,202,62);
    font-size: 1rem;
}
#pushlish-sign .close {
    position: absolute;
    top: .1rem;
    right: .1rem;
    font-size: 1.8rem;
}
// footer
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: @footerHeight;
    border-radius: 1rem 1rem 0 0;
    background-color: @footerBgColor;
    z-index: 10;
}
footer ul {
    font-size: 0;
}
footer ul li{
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% / 4);
    height: 100%;
    color: @footerColor;
    font-size: .5rem;
    text-align: center;
}
footer ul li:first-child {
    color: @headerColor;
}
footer li i {
    display: inline-block;
    box-sizing: border-box;
    height: 1.5rem;
    padding-top: .4rem;
}
footer li p {
    letter-spacing: 2px;
    font-size: .7rem;
    line-height: 1.5rem;
}
footer ul li i.iconfont {
    font-size: 1.2rem;
}
